/*Document Styling*/
html {
    font-family: 'Baloo Tammudu', serif;
    font-size: 22px;
    text-align: center;
    background-color: white;
}


/*Nav Styling*/
.header{
    background-color: white;
}
.header h1 {
    color: #8a8f75;
    text-align: center;
    font-size: 75px;
    margin-bottom: 0px;
}

.flexbox-nav {
    display: flex;
    justify-content: space-around;
    height: 100px;
    color: #8a8f75;
}

ul {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
}

ul li {
    padding: 30px;
    text-decoration: none;
}

a{
    color: #8a8f75;
    text-decoration: none;
    font-size: 40px;
    margin-top: 0;
}

a:hover {
    color: #60645e;
}

/*Splash*/

.flexbox-splash {
    display: flex;
    width: auto;
    border: 0px solid black;
    background-image: url(images/homepage.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;    
    justify-content: space-around;
}

.innerBox {
    width: 800px;
    height: 250px;
    margin: 10px;
    border: 15px solid white;
    color: white;
    min-height: 50px;
    align-self: center;
    background-color: none;
    text-align: center;
}

.innerBox h2 {
    font-size: 60px;
}

.innerBox h4 {
    font-size: 40px;
}

/*Boxes*/
#product h2 {
    color: #8a8f75;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
}

.flexbox-products {
    display: flex;    
    width: auto;
    height: 600px;
    border: 0px solid black;
    background-color: #d8d7c8;
    justify-content: space-around;
    align-items: center;
}

.flexbox-product {
    width: 420px;
    height: 500px;
    border: 0px solid black;
    background-color: white;
    padding-top: 10px;
}

.content {
    color: #8a8f75;
    font-size: 25px;
    font-weight: bold;
}

.product-1 {
    min-height: 400px;
    min-width: 400px;
}

.product-1 img {
    width: 400px;
    height: 400px;
}

.product-2 {
    min-height: 400px;
    min-width: 400px;
}

.product-2 img {
    width: 400px;
    height: 400px;
}

.product-3 {
    min-height: 400px;
    min-width: 400px;
}

.product-3 img {
    width: 400px;
    height: 400px;
}
/*Ethos*/

#ethos h2 {
    text-align: center;
    color: #8a8f75;
    font-size: 60px;
    margin-bottom: 20px;
}

.flexbox-ethos {
    display: flex;
    width: auto;
    height: 600px;
    border: 0px solid black;
    background-color: #d8d7c8;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
}

.flowerphoto img {
    width: 400px;
    height: 600px;
}

.mission {
    align-items: flex-start;
    padding: 30px;
    color: #60645e;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.ingredientsphoto img {
    width: 500px;
    height: 600px;
}

/*Contact*/

#contact h2 {
    text-align: center;
    color: #8a8f75;
    font-size: 60px;
    margin-bottom: 20px;
}

.flexbox-contacts {
    display: flex;
    width: auto;
    border: 0px solid black;
    height: 500px;
    background-color: #d8d7c8;    
    justify-content: space-around;
    padding-top: 50px;
}

.description {
    color: #60645e;
}

.form {
    width: 200px;
    min-height: 100px;
    margin: 10px;
    align-self: center;
    border: 0px solid black;    
    color: #60645e;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

section {
    margin-top: 30px;
}

/*Footer*/

.flexbox-footer {
    display: flex;
    width: auto;
    height: 20px;
    padding-top: 50px;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.footer {
    text-align: center;
    color: #60645e;
    position: relative;
}