/*Nav*/
.header h1 {
    color: firebrick;
    text-align: center;
}
.flexbox-nav {
    display: flex;
    justify-content: space-around;
}

ul {
    display: flex;
    list-style-type: none;
}

ul li {
    padding: 30px;
    text-decoration: none;
}

a{
    color: green;
    text-decoration: none;
}

/*Splash*/

.flexbox-splash {
    display: flex;
    width: auto;
    border: 2px solid black;
    background-image: url();
    background-size: cover;
    height: 300px;    
    justify-content: space-around;
}

.innerBox {
    width: 200px;
    margin: 10px;
    border: 3px solid black;
    min-height: 50px;
    align-self: center;
    background-color: none;
    text-align: center;
}

/*Boxes*/
.products h2 {
    color: firebrick;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.flexbox-products {
    display: flex;    
    width: auto;
    border: 0px solid black;
    background-image: url(pepe.jpg);
    background-size: contain;
    background-color: firebrick;
    justify-content: space-around;
    /*Row positioning:
    flex-wrap: wrap;  
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;*/
    /*Column positioning:
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
}

.flexbox-product {
    width: 200px;
    margin: 10px;
    border: 3px solid black;
    background-color: darkseagreen;
}

.product-1 {
    min-height: 100px;
    flex-shrink: 0;
}

.product-2 {
    min-height: 50px;
    align-self: center;
    background-color: none;
    text-align: center;
}

.product-3 {
    min-height: 200px;
}
/*Ethos*/
/*Contact*/

.contacts h2 {
    text-align: center;
    color: firebrick;
}

.flexbox-contact {
    display: flex;
    width: auto;
    border: 2px solid black;
    height: 300px;    
    justify-content: space-around;
    padding-top: 50px;
}

.contact {
    width: 200px;
    min-height: 100px;
    margin: 10px;
    align-self: center;
    border: 3px solid black;
}

/*Footer*/

.flexbox-footer {
    display: flex;
    width: auto;
    height: 20px;
    padding-top: 50px;
    justify-content: space-between;
    align-self: center;
}

.footer {
    text-align: center;
    color: firebrick;
    
}